@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1>Welcome to the Coffee Shop</h1>
    <h4>Please register <a href="https://localhost:44304/Home/Registration">here</a>.</h4>
</div>
