@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/site.css" />

<div class="text-center">
    <h1>Welcome to the Coffee Shop</h1>
    <h4>New user? Please register <a href="/Home/Registration">here</a>.</h4>
    <h4>Existing user? You can login <a href="/Home/Login">here</a>.</h4>
</div>
