@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "LowFunds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Users

<h1>Insufficient Funds</h1>
<h4>Cost of item exceeds your remaining balance.</h4>
<h4>Current funds: $@Math.Round(Convert.ToDecimal(@Model.Funds), 2)</h4>

