
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Registration</h1>
<p>* = Required Field</p>

<form asp-controller="Home" asp-action="Summary">
    <div class="form-group">
        <label>User Name* (Use '_' for space)</label>
        <input type="text" class="form-control" name="userName" placeholder="User Name" pattern="[A-Za-z0-9_]{3,}" required />
    </div>
    <div class="form-groups">
        <label>First Name</label>
        <input type="text" class="form-control" name="firstName" placeholder="First Name" pattern="(^[A-Z]{1}[a-z]{1,29}$)" />
    </div>
    <div>
        <label>Last Name</label>
        <input type="text" class="form-control" name="lastName" placeholder="Last Name" pattern="(^[A-Z]{1}[a-z]{1,29}$)" />
    </div>
    <div class="form-group">
        <label>Email*</label>
        <input type="text" class="form-control" name="email" placeholder="Email" pattern="(^[A-Za-z0-9._-]{1,64}@('@'){1}[A-Za-z0-9-]{1,63}\.{1}[a-z]{2,3}$)" required />
    </div>
    <div class="form-group">
        <label>Date of Birth*</label>
        <input type="date" class="form-control" name="dateOfBirth" required />
    </div>
    <div class="form-group">
        <label>Password*</label>
        <input type="password" class="form-control" name="password" placeholder="Password" required/>
    </div>
    <div class="form-group">
        <input type="submit" class="form-control btn btn-primary"/>
    </div>
</form>

