
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShopDBContext

<h1>Welcome to the Shop</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
    </tr>

    @foreach (Items item in Model.Items)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td>@item.Price</td>


            @if ((bool)TempData["Registered"])
            {
                <td><button>Buy</button></td>
            }
        </tr>
    }

</table>

