
@{
    ViewData["Title"] = "Shop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ShopDBContext


<h1>Welcome to the Shop</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Purchase</th>
    </tr>

    @foreach (Items item in Model.Items)
    {


        <tr>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>@item.Quantity</td>
            <td>$@Math.Round(item.Price, 2)</td>


            @if ((bool)TempData["Registered"])
            {
                <td><button onclick="location.href= '@Url.Action("Shop", "Home", new { price = item.Price })'" )">Buy</button></td>
            }
        </tr>
    }

</table>

